appdirs==1.4.3
crypto==1.4.1
Django==1.8.17
django-allauth==0.32.0
django-graphos==0.3.41
django-verified-email-field==1.2.2
djangorestframework==3.6.3
Naked==0.1.31
oauthlib==2.0.2
olefile==0.44
packaging==16.8
Pillow==7.1.0
psycopg2==2.7.1
pyparsing==2.2.0
python-openid==2.2.5
pytz==2017.2
PyYAML==3.12
requests==2.14.2
requests-oauthlib==0.8.0
shellescape==3.4.1
six==1.10.0
