{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}노룩뉴스 - 기자 지구{% endblock %}
{% block extra_head_content %}
{{ block.super }}
<script>
function search() {
    var type = document.getElementById('searchType').value;
    var word = document.getElementById('searchWord').value;
    if (!word) {
        alert("검색어를 입력하세요.");
        return;
    }
    var url = "{% url 'search giza' searchType='type' searchWord='word' %}".replace(/type/, type).replace(/word/, word).replace(/http:\/\//, '').replace(/https:\/\//, '').replace(/twitter.com\//, '').replace(/facebook.com\//, '');
    if (url.substr(-1) == '/') {
        url = url.slice(0, -1);
    }
    location.href = url;
}

function onKeyPress(e) {
    if (e.keyCode == 13) {
        e.preventDefault();
        search();
    }
}
</script>
{% endblock %}
{% block content %}
<div id="wrap">
    <div id="header">
        <div class="gnb">
            <ul>
                <li class="menuBadIssue"><a href="{% url 'show issues' %}">노룩뉴스</a></li>
                <li class="menuBadIssue"><a href="{% url 'show good issues' nolook='look' %}">룩!뉴스</a></li>
                <li class="menuBadIssue"><a href="{% url 'ranking' %}">랭킹</a></li>
                <li class="menuBadIssue"><a href="{% url 'show giza' %}">기자지구</a></li>
            </ul>
        </div>
    </div>
<div id="contents">

<h1>기자지구</h1>
    {% if user.is_authenticated %}
    <div class="m-util utilDuo">
    {% if nolook != 'all' %}<a href="{% url 'new giza' %}"><img src="{% static 'icons/add24.png' %}" title="기자 추가"></a>{% endif %}
    <a href="{% url 'login' %}"><img src="{% static 'icons/face24.png' %}" title="회원정보"></a>
    {% else %}
    <div class="m-util utilSolo">
    <a href="{% url 'login' %}?next={% url 'show giza' %}"><img src="{% static 'icons/identity24.png' %}" title="로그인"></a>
    {% endif %}
    </div>

<div class="dbSearch align-center">
    <select id="searchType">
        <option value="belongto">언론사</option>
        <option value="name">이름</option>
        <option value="email">이메일</option>
        <option value="twitter">트위터</option>
        <option value="facebook">페이스북</option>
    </select>
    <input type="text" id="searchWord" class="searchWord width-120" maxlength="100" onkeypress="onKeyPress(event)">
    <input type="button" id="searchButton" value="검색" class="searchButton" onClick="search()">
    <div class="dbSearch align-right"><span class="gizashowall"><a href="{% url 'show all giza' %}">모두 보기</a></span></div>
</div>
<div class="annotation">
잘못된 정보 수정, 인물사진 변경 등은 로그인 후 수정하시거나 이메일로 요청해 주세요.
</div>

{% if count %}
<div class="gizadb">
{% for giza in db %}
    <table class="gizadb">
    <tr>
        <td rowspan="3" class="gizaPortrait">{% if giza.portrait %}<img src="{{giza.portrait.url}}" width="120" height="160">{% else %}<img src="{% static 'images/nophoto.png' %}" width="120" height="160">{% endif %}</td>
        <td class="gizaName">{% if user.is_authenticated %}<a href="{% url 'edit giza' id=giza.id %}">{{giza.name}}</a>{% else %}{{giza.name}}{% endif %} <font size="2">[ <a href="{% url 'search good issue' searchType='email' searchWord=giza.email nolook='all' %}">작성 기사</a> ]</font></td>
    </tr>
    <tr>
        <td class="gizaEmail">{{giza.email}}
        {% if giza.twitter %}
        <a href="{{giza.twitter}}" target="_blank"><img src="{% static 'icons/twitter24.png' %}" width="16" height="16"></a>
        {% endif %}
        {% if giza.facebook %}
        <a href="{{giza.facebook}}" target="_blank"><img src="{% static 'icons/facebook24.png' %}" width="16" height="16"></a>
        {% endif %}</td>
    </tr>
    <tr>
        <td class="gizaBelong"><a href="{% url 'search giza' searchType='belongto' searchWord=giza.belongto %}">{{giza.belongto}} </a><font size="2">[ <a href="{% url 'search good issue' searchType='belongto' searchWord=giza.belongto nolook='all' %}">언론사 기사</a> ]</font>
        </td>
    </tr>
    <tr>
        <td class="gizaProfile" colspan="2">{{giza.profile|linebreaksbr}}</td>
    </tr>
    </table>
    {% if not forloop.last %}
        <hr>
    {% endif %}
{% endfor %}
</div>
{% else %}
<div align="center"><div class="hof">
    <p>명예의 전당</p>
        {% for year, month in lists %}
        <a href="{% url 'rank archive' year=year month=month nolook='nolook' %}">{{year}}년 {{month}}월</a><br>
        {% endfor %}
    </select>
</div></div>
{% endif %}

{% if not DEBUG %}
<div class="sense">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- nolooknews-bottom -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6024742495031342"
     data-ad-slot="8980979712"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
{% endif %}

</div> <!-- //Contents -->

<div id="footer">
    <div class="footerMenu">
        <ul>
            <li><strike>게시판</strike></li>
            <li><a href={{ABOUT_LINK}} target="_blank">노룩뉴스 소개</a></li>
            <li>테마 디자인 : {{THEME_DESIGNER}}</a></li>
        </ul>
            <li>문의, 의견 보내기 : <a href="mailto:gencode.me@gmail.com">gencode.me@gmail.com</a></li>
            <li><a href="https://twitter.com/nolooknews"><img src="{% static 'icons/twitter24.png' %}"</a></li>
        <ul>
        </ul>
    </div>
</div>

</div> <!-- //wrap -->
{% endblock %}
