{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}노룩뉴스 - 기자 지구{% endblock %}
{% block extra_head_content %}
{{ block.super }}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
td.gizaPortrait {
    width: 140px;
}
td.gizaName {
    height: 30px;
}
td.gizaBelong {
    height: 32px;
}
td.gizaProfile {
    padding: 2px; padding-top: 10px;
    vertical-align: top;
    color: #D8D8D8;
}

span.gizashowall {
    background-color: #957248;
    font-size: 80%;
}

div.hof {
    margin-bottom: 10px;
    width: 160px;
    text-align: center;
    background-color: #957248;
    color: #D8D8D8;
    box-shadow: 0 0 5px 5px #888;
}

a:link {color:white; text-decoration:none;}
a:visited {color:white; text-decoration:none;}
a:hover {color:yellow; text-decoration:none;}
</style>
<script>
function search() {
    var type = document.getElementById('searchType').value;
    var word = document.getElementById('searchWord').value;
    if (!word) {
        alert("검색어를 입력하세요.");
        return;
    }
    var url = "{% url 'search giza' searchType='type' searchWord='word' %}".replace(/type/, type).replace(/word/, word).replace(/http:\/\//, '').replace(/https:\/\//, '').replace(/twitter.com\//, '').replace(/facebook.com\//, '');
    if (url.substr(-1) == '/') {
        url = url.slice(0, -1);
    }
    location.href = url;
}

function onKeyPress(e) {
    if (e.keyCode == 13) {
        e.preventDefault();
        search();
    }
}
</script>
{% endblock %}
{% block content %}
<table class="headMenu">
<tr>
    <td class="menuBadIssue width-100"><a href="{% url 'show issues' %}">노룩뉴스</a></td>
    <td class="menuGoodIssue width-100"><a href="{% url 'show good issues' nolook='look' %}">룩!뉴스</a></td>
    <td class="menuRanking width-100"><a href="{% url 'ranking' %}">랭킹</a></td>
    <td class="menuGizaDB width-100"><a href="{% url 'show giza' %}">기자 지구</a></td>
    <td class="headMenu">
    {% if user.is_authenticated %}
    <a href="{% url 'new giza' %}"><img src="{% static 'icons/add24.png' %}" title="기자 추가"></a> <a href="{% url 'logout' %}?next={% url 'show giza' %}"><img src="{% static 'icons/unidentity24.png' %}" title="로그아웃"></a>
    {% else %}
    <a href="{% url 'login' %}?next={% url 'show issues' %}"><img src="{% static 'icons/identity24.png' %}" title="로그인"></a>
    {% endif %}&nbsp;
    </td>
</tr>
</table>
<div class="dbSearch">
    <select id="searchType">
        <option value="belongto">언론사</option>
        <option value="name">이름</option>
        <option value="email">이메일</option>
        <option value="twitter">트위터</option>
        <option value="facebook">페이스북</option>
    </select> 
    <input type="text" id="searchWord" class="searchWord width-200" maxlength="100" onkeypress="onKeyPress(event)"> <input type="button" id="searchButton" value="검색" class="searchButton" onClick="search()"> <span class="gizashowall"><a href="{% url 'show all giza' %}">모두 보기</a></div>
</div>
<div class="annotation">
잘못된 정보 수정, 인물사진 변경 등은 로그인 후 수정하시거나 이메일로 요청해 주세요.
</div>

{% if count %}
<div class="gizadb">
{% for giza in db %}
    <table class="gizadb">
    <tr>
        <td rowspan="3" class="gizaPortrait">{% if giza.portrait %}<img src="{{giza.portrait.url}}" width="120" height="160">{% else %}<img src="{% static 'images/nophoto.png' %}" width="120" height="160">{% endif %}</td>
        <td class="gizaName">{% if user.is_authenticated %}<a href="{% url 'edit giza' id=giza.id %}">{{giza.name}}</a>{% else %}{{giza.name}}{% endif %} ({{giza.email}}) <font size="2">[ <a href="{% url 'search good issue' searchType='email' searchWord=giza.email nolook='all' %}">작성 기사</a> | <a href="{% url 'search good issue' searchType='belongto' searchWord=giza.belongto nolook='all' %}">언론사 기사</a> ]</font></td>
    </tr>
    <tr>
        <td class="gizaBelong"><a href="{% url 'search giza' searchType='belongto' searchWord=giza.belongto %}">{{giza.belongto}}</a>
        {% if giza.twitter %}
        <a href="{{giza.twitter}}" target="_blank"><img src="{% static 'icons/twitter24.png' %}"></a>
        {% endif %}
        {% if giza.facebook %}
        <a href="{{giza.facebook}}" target="_blank"><img src="{% static 'icons/facebook24.png' %}"></a>
        {% endif %}
        </td>
    </tr>
    <tr>
        <td class="gizaProfile">{{giza.profile|linebreaksbr}}</td>
    </tr>
    </table>
    {% if not forloop.last %}
        <hr>
    {% endif %}
{% endfor %}
</div>
{% elif list %}
<div align="center"><div class="hof">
    <p>명예의 전당</p>
        {% for year, month in lists %}
        <a href="{% url 'rank archive' year=year month=month nolook='nolook' %}">{{year}}년 {{month}}월</a><br>
        {% endfor %}
    </select>
</div></div>
{% endif %}

{% if not DEBUG %}
<div class="sense">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- nolooknews-bottom -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6024742495031342"
     data-ad-slot="8980979712"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
{% endif %}
<div class="footer">
<strike>게시판</strike> | <a href={{ABOUT_LINK}} target="_blank">노룩뉴스 </a> | 문의사항, 의견 보내기: <font color="black"><a href="mailto:gencode.me@gmail.com">gencode.me@gmail.com</a></font>
{% endblock %}
