{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko">

<head>
<title>{% block title %}{% endblock %}</title>
<meta charset="utf-8">
<meta name="keywords" content="노룩뉴스">
<meta name="description" content="기레기 감시 시스템">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:type" content="website">
<meta property="og:title" content="노룩뉴스">
<meta property="og:description" content="기레기 감시 시스템">
<meta property="og:image" content="http://nolooknews.com/assets/icons/apple-touch-icon.png">
<meta property="og:url" content="http://nolooknews.com">
<link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<script src="{% static 'js/analytics.js' %}"></script>
{% block extra_head_content %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
</body>
</html>
