{% extends 'base.html' %}
{% block title %}Edit issue{% endblock %}
{% block extra_head_content %}
{{ block.super }}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block content %}
<form
    method="POST"
    enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.errors }}
    {{ form.non_field_errors }}

    <div class="input_required">
    <p>기자 이메일: {{form.email}}</p>
    <p>기사 제목: {{form.subject}}</p>
    <p>기사 주소: {{form.url}}</p>
    </div>
    <br>
    <div class="input_optional">
    <p>아카이브 주소: {{form.archive}}</p>
    </div>
    <p><input type = "submit"></p>
</form>
{% endblock %}
