{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}이슈 편집{% endblock %}
{% block extra_head_content %}
{{ block.super }}
{% endblock %}
{% block content %}
<form
    id="issue_edit_form"
    method="POST"
    enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.errors }}
    {{ form.non_field_errors }}

    {% if created_at %}
    <p class="edit"><font color="#48E">좋아요!: {{goodcount}}</font> <font color="#707070">나빠요!: {{count}}</font></p>
    {% else %}
    <p class="edit">{% if nolook == 'nolook' %}<font color="#707070">나쁜{% else %}<font color="#48E">좋은{% endif %} 뉴스를 추가합니다.</font></p>
    {% endif %}
    <div class="input_required" id="input_required">
    <p class="edit">기사 제목: {{form.subject}}</p>
    <p class="edit">기사 주소: {{form.url}}</p>
    </div>
    <br>
    <div class="input_optional">
    <p class="edit">기자 이메일: {{form.email}}</p>
    <p class="edit">아카이브 주소: {{form.archive}}<br>
     - archive.is 의 스냅샷 주소</p>
    {% if created_at %}
    <p class="edit"><font size="2">입력: {{created_at|date:"Y-m-d H:i:s"}}</font></p>
    {% endif %}
    </div>
    <p class="edit"><input type="reset" style="border-color:blue"> <input type="submit"></p>
</form>
<script>
$('#issue_edit_form').submit(function(e) {
    id_archive = $('#id_archive').val();
    if (id_archive) {
        url = "http://" + id_archive.replace(/http:\/\//, '').replace(/https:\/\//, '');
        $('#id_archive').val(url);
    }
});
</script>
{% if user.is_superuser and created_at %}
<script>
function checkDelete(deleteText) {
    if (deleteText == 'delete')
        location.href = "{% url 'delete issue' id=id %}";
}
</script>
<div class="delete">
    삭제하려면 <font color="red"><b>delete</b></font> 입력 후 삭제 버튼을 누르세요.<br>
    <input id="delbox" type="text" size="8"> <input type="button" value="삭제" style="border-color:red" onclick="checkDelete(document.getElementById('delbox').value)">
</div>
{% endif %}
{% endblock %}
