{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}버스터 콜{% endblock %}
{% block extra_head_content %}
{{ block.super }}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
td.issueRank {
    width: 32px;
    font-size: 150%;
    color: yellow;
}
td.issueSubject {
    font-size: 130%;
}
td.issueDown {
    font-size: 75%;
}

a:link {color:white; text-decoration:none;}
a:visited {color:white; text-decoration:none;}
a:hover {color:yellow; text-decoration:none;}
</style>
{% endblock %}
{% block content %}

<table class="headMenu">
<tr>
    <td class="menuHotIssue"><a href="{% url 'show issues' %}">버스터 콜</a></td>
    <td class="menuRanking">랭킹</td>
    <td class="menuGizaDB"><a href="{% url 'show giza' %}">기자 지구</a></td>
    <td class="headMenu">
    {% if user.is_authenticated %}
    <a href="{% url 'new issue' %}"><img src="{% static 'icons/add24.png' %}" title="이슈 생성"></a> <a href="{% url 'logout' %}?next={% url 'show issues' %}"><img src="{% static 'icons/unidentity24.png' %}" title="로그아웃"></a>
    {% else %}
    <a href="{% url 'login' %}?next={% url 'show issues' %}"><img src="{% static 'icons/identity24.png' %}" title="로그인"></a>
    {% endif %}&nbsp;
    </td>
</tr>
</table>
<div class="issue">
{% for issue in issues %}
    <table class="issue">
    <tr>
        <td rowspan="2" class="issueRank">{{forloop.counter}}</td>
        <td class="issueSubject"><a href={{issue.url}} target="_blank">{{issue.subject}}</a></td>
        {% if user.is_authenticated %}
        <td rowspan="2" width="32px"><a href="{% url 'edit issue' id=issue.id %}"><img src="{% static 'icons/edit24.png' %}" title="편집"></a></td>
        {% endif %}
    </tr>
    <tr>
        <td class="issueDown">{{issue.email}} ({{issue.count}}번 찍힘)</td>
    </tr>
    </table>
    {% if not forloop.last %}
        <hr>
    {% endif %}

{% endfor %}
</div>
{% endblock %}
