{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}노룩뉴스 - 랭킹{% endblock %}
{% block extra_head_content %}
{{ block.super }}
{% endblock %}
{% block content %}
<div id="wrap">
    <div id="header">
        <div class="gnb">
            <ul>
                <li><a href="{% url 'show today' %}">노룩뉴스</a></li>
                <li><a href="{% url 'show issues' %}">베스트</a></li>
                <li><a href="{% url 'ranking' %}">랭킹</a></li>
                <li><a href="{% url 'show giza' %}">기자지구</a></li>
            </ul>
        </div>
    </div>

<div id="contents">
<h1>노룩 랭킹</h1>
    {% if user.is_authenticated %}
    <div class="m-util utilSolo">
    <a href="{% url 'login' %}"><img src="{% static 'icons/face24.png' %}" title="회원정보"></a>
    {% else %}
    <div class="m-util utilSolo">
    <a href="{% url 'login' %}?next={% url 'ranking' %}"><img src="{% static 'icons/identity24.png' %}" title="로그인"></a>
    {% endif %}
    </div>

<div class="annotation padding-top">
{% if msg %}
{{ msg }}
{% else %}
{% if nolook == 'nolook' %}
일주일 동안 가장 많이 '나빠요!'를 받은 기자들의 순위입니다.
{% else %}
일주일 동안 가장 많이 '좋아요!'를 받은 기자들의 순위입니다.
{% endif %}
{% endif %}
</div>

{% if nolook == 'nolook' %}
<div class="ranking">
{% else %}
<div class="ranqueen">
{% endif %}
{% for giza, count in lists %}
    {% if nolook == 'nolook' %}
    <table class="ranking">
    {% else %}
    <table class="ranqueen">
    {% endif %}
    <tr>
        <td rowspan="4" class="rankNo">{{forloop.counter}}</td>
        <td rowspan="4" class="rankCount">{{count}}<br><font size="1">찍힘</font></td>
        <td rowspan="3" class="gizaPortrait m-gizaPortrait">{% if giza.portrait %}<img src="{{giza.portrait.url}}" width="90" height="120">{% else %}<img src="{% static 'images/nophoto.png' %}" width="90" height="120">{% endif %}</td>
        <td class="gizaName">{% if user.is_authenticated %}<a href="{% url 'edit giza' id=giza.id %}">{{giza.name}}</a>{% else %}{{giza.name}}{% endif %} <font size="2">[ <a href="{% url 'search issue' searchRange='all' searchType='email' searchWord=giza.email nolook='all' %}">작성기사</a> ]</font></td>
    </tr>
    <tr>
        <td class="gizaEmail">{{giza.email}} 
        {% if giza.twitter %}
        <a href="{{giza.twitter}}" target="_blank"><img src="{% static 'icons/twitter24.png' %}" width="16" height="16"></a>
        {% endif %}
        {% if giza.facebook %}
        <a href="{{giza.facebook}}" target="_blank"><img src="{% static 'icons/facebook24.png' %}" width="16" height="16"></a>
        {% endif %}</td>
    </tr>
    <tr>
        <td class="gizaBelong">{{giza.belongto}}</td>
    </tr>
    <tr>
        <td class="gizaProfile" colspan="2">{{giza.profile|linebreaksbr}}</td>
    </tr>
    </table>
    {% if not forloop.last %}
        <hr>
    {% endif %}
{% endfor %}
</div>

<div class="dbSearch align-right">
{% if nolook == 'nolook' %}
<span class="ranking"><a href="{% url 'ranqueen' nolook='look' %}">좋아요! 순위 보기</a></span></p>
{% else %}
<span class="ranqueen"><a href="{% url 'ranking' %}">나빠요! 순위 보기</a></span>
{% endif %}
</div>

{% if not DEBUG %}
<div class="sense">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- nolooknews-bottom -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6024742495031342"
     data-ad-slot="8980979712"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
{% endif %}

</div> <!-- //Contents -->

<div id="footer">
    <div class="footerMenu">
        <ul>
            <li><strike>게시판</strike></li>
            <li><a href={{ABOUT_LINK}} target="_blank">노룩뉴스 소개</a></li>
            <li>테마 디자인 : {{THEME_DESIGNER}}</a></li>
        </ul>
            <li>문의, 의견 보내기 : <a href="mailto:gencode.me@gmail.com">gencode.me@gmail.com</a></li>
            <li><a href="https://twitter.com/nolooknews"><img src="{% static 'icons/twitter24.png' %}"</a></li>
        <ul>
        </ul>
    </div>
</div>

</div> <!-- //wrap -->
{% endblock %}
