{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}노룩뉴스 - 랭킹{% endblock %}
{% block extra_head_content %}
{{ block.super }}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
td.rankNo {
    width: 32px;
    font-size: 200%;
    color: yellow;
}
td.rankCount {
    width: 80px;
    font-size: 120%;
}
td.gizaPortrait {
    width: 140px;
}
td.gizaName {
    height: 30px;
}
td.gizaBelong {
    height: 32px;
}
td.gizaProfile {
    padding: 2px; padding-top: 10px;
    vertical-align: top;
    color: #D8D8D8;
}
a:link {color:white; text-decoration:none;}
a:visited {color:white; text-decoration:none;}
a:hover {color:yellow; text-decoration:none;}
</style>
{% endblock %}
{% block content %}
<table class="headMenu">
<tr>
    <td class="menuHotIssue"><a href="{% url 'show issues' %}">노룩뉴스</a></td>
    <td class="menuRanking"><a href="{% url 'ranking' %}">랭킹</a></td>
    <td class="menuGizaDB"><a href="{% url 'show giza' %}">기자 지구</a></td>
    <td class="headMenu">
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}?next={% url 'show issues' %}"><img src="{% static 'icons/unidentity24.png' %}" title="로그아웃"></a>
    {% else %}
    <a href="{% url 'login' %}?next={% url 'show issues' %}"><img src="{% static 'icons/identity24.png' %}" title="로그인"></a>
    {% endif %}&nbsp;
    </td>
</tr>
</table>
<div class="annotation padding-top">
지난 한 달간 가장 많이 찍힌 기사를 작성한 기자들의 순위입니다.
</div>

<div class="ranking">
{% for giza, count in lists %}
    <table class="ranking">
    <tr>
        <td rowspan="3" class="rankNo">{{forloop.counter}}</td>
        <td rowspan="3" class="rankCount">{{count}}<font size="1">번 찍힘</font></td>
        <td rowspan="3" class="gizaPortrait">{% if giza.portrait %}<img src="{{giza.portrait.url}}" width="120" height="160">{% else %}<img src="{% static 'images/nophoto.png' %}" width="120" height="160">{% endif %}</td>
        <td class="gizaName">{% if user.is_authenticated %}<a href="{% url 'edit giza' id=giza.id %}">{{giza.name}}</a>{% else %}{{giza.name}}{% endif %} ({{giza.email}}) <font size="2">[ <a href="{% url 'search issue' searchType='email' searchWord=giza.email %}">작성 기사</a> ]</font></td>
    </tr>
    <tr>
        <td class="gizaBelong">{{giza.belongto}}
        {% if giza.twitter %}
        <a href="{{giza.twitter}}" target="_blank"><img src="{% static 'icons/twitter24.png' %}"></a>
        {% endif %}
        {% if giza.facebook %}
        <a href="{{giza.facebook}}" target="_blank"><img src="{% static 'icons/facebook24.png' %}"></a>
        {% endif %}
        </td>
    </tr>
    <tr>
        <td class="gizaProfile">{{giza.profile|linebreaksbr}}</td>
    </tr>
    </table>
    {% if not forloop.last %}
        <hr>
    {% endif %}
{% endfor %}
</div>

<div class="footer">
<strike>게시판</strike> | <a href={{ABOUT_LINK}} target="_blank">노룩뉴스 </a> | 문의사항, 의견 보내기: <font color="black"><a href="mailto:gencode.me@gmail.com">gencode.me@gmail.com</a></font>
{% endblock %}